@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.title {
    margin: 0;
    font-size: 30px;

    color: var(--color-accent);

    @include mobile-small {
        font-size: 27.5px;
    }
}

.length {
    color: var(--color-accent);
}

main {
    display: flex;
    justify-content: center;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
    margin-block: 30px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(220, 220, 220);
    border-radius: var(--border-radius);
    width: 40%;
    row-gap: 20px;

    &__range {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            background: white;
            border: 6px solid var(--color-accent);
            border-radius: 40%;
            margin-top: -7.5px;
            cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
            background: var(--gradient);
            height: 7px;
            border-radius: 10px;
        }
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__item {
            display: flex;
            column-gap: 10px;
            
            button {
                padding: 1.5px 2.2px;
                border: 2px solid var(--color-accent);
                background-color: white;
                width: 25px;
                height: 25px;
                border-radius: 7.5px;
                transition: 0.2s;
                cursor: pointer;

                &.active {
                    background-color: var(--color-accent)
                }
            }
        }
    }

    &__create {
        font-family: var(--font-family);
        font-size: 22.5px;
        font-weight: 800;
        border: none;
        background: var(--gradient);
        color: white;
        padding: 10px 25px;
        border-radius: var(--border-radius);
        position: relative;
        transition: 0.1s;
        cursor: pointer;

        @include desktop {
            &:hover {
                opacity: 0.7;
            }
        }

        @include tablet {
            align-self: flex-start;
            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 0.7;
            }
        }

        @include mobile {
            align-self: center;
        }
    }

    &__result {
        border: 2px solid var(--color-accent);
        color: var(--color-accent);
        padding: 10px;
        border-radius: var(--border-radius);
        margin-top: -10px;
        cursor: pointer;
        animation: appear 0.2s forwards;
        transition: 0.2s;

        &:hover {
            box-shadow: 0px 0px 5px var(--color-accent);
        }

        @include mobile {
            align-self: center;
        }

        @include mobile-small {
            font-size: 20px;
        }

        @include mobile-xs {
            font-size: 17.5px;
        }
    }

    @include tablet {
        width: 55%;
    }

    @include mobile {
        width: 70%;
    }

    @include mobile-small {
        padding: 20px 30px;
    }

}

.symbols-demo {
    color: var(--color-accent);

    @include mobile {
        font-size: 20px;
    }

    @include mobile-small {
        font-size: 16px;
    }

    @include mobile-xs {
        font-size: 15px;
    }
}

.copied {
    opacity: 0;
    color: var(--color-accent);
    font-size: 20px;
    animation: appear 0.3s forwards;

    @include mobile {
        font-size: 17.5px;
        margin-top: -10px;
        align-self: center;
    }
}

