@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --font-family: "Montserrat";
  --color-accent: #173ea0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title {
  margin: 0;
  font-size: 30px;
  color: var(--color-accent);
}
@media (max-width: 480px) {
  .title {
    font-size: 27.5px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 25px;
  }
}

.length {
  color: var(--color-accent);
}

main {
  display: flex;
  justify-content: center;
}

.generator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 40px;
  margin-block: 30px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 40px rgb(200, 200, 200);
  border-radius: 20px;
  width: 40%;
  row-gap: 20px;
}
.generator__range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
}
.generator__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border: 6px solid var(--color-accent);
  border-radius: 40%;
  margin-top: -7.5px;
  cursor: pointer;
}
.generator__range::-webkit-slider-runnable-track {
  background: var(--color-accent);
  height: 7px;
  border-radius: 10px;
}
.generator__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.generator__checkboxes__item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.generator__checkboxes__item button {
  padding: 1.5px 2.2px;
  border: 2px solid var(--color-accent);
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 7.5px;
  transition: 0.2s;
  cursor: pointer;
}
.generator__checkboxes__item button.active {
  background-color: var(--color-accent);
}
.generator__create {
  font-family: var(--font-family);
  font-size: 22.5px;
  font-weight: 800;
  border: none;
  background-color: var(--color-accent);
  color: white;
  padding: 12.5px 20px;
  border-radius: 10px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.generator__create:hover {
  opacity: 0.5;
}
@media (max-width: 1020px) {
  .generator__create {
    align-self: flex-start;
  }
}
@media (max-width: 770px) {
  .generator__create {
    align-self: center;
  }
}
.generator__result {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  padding: 10px;
  border-radius: 10px;
  margin-top: -10px;
  cursor: pointer;
  animation: appear 0.2s forwards;
  transition: 0.2s;
}
.generator__result:hover {
  box-shadow: 0px 0px 5px var(--color-accent);
}
@media (max-width: 770px) {
  .generator__result {
    align-self: center;
  }
}
@media (max-width: 480px) {
  .generator__result {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .generator__result {
    font-size: 17.5px;
  }
}
@media (max-width: 1020px) {
  .generator {
    width: 55%;
  }
}
@media (max-width: 770px) {
  .generator {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .generator {
    padding: 20px 30px;
  }
}
@media (max-width: 400px) {
  .generator {
    font-size: 20px;
  }
}

.symbols-demo {
  color: var(--color-accent);
}
@media (max-width: 770px) {
  .symbols-demo {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .symbols-demo {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .symbols-demo {
    font-size: 13px;
  }
}

.copied {
  opacity: 0;
  color: var(--color-accent);
  font-size: 20px;
  animation: appear 0.3s forwards;
}
@media (max-width: 770px) {
  .copied {
    font-size: 17.5px;
    margin-top: -10px;
    align-self: center;
  }
}

html {
  height: 100%;
}

body {
  font-size: 22.5px;
  font-weight: 800;
  font-family: var(--font-family);
  margin: 0;
  color: #02111B;
}

p {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */